<b:includable id='nextprev'>
  <div id='blog-pager' style='display:none'>
    <b:if cond='data:newerPageUrl'>
      <a class='newer' expr:href='data:newerPageUrl' />
    </b:if>
    <b:if cond='data:olderPageUrl'>
      <a class='older' expr:href='data:olderPageUrl' />
    </b:if>
  </div>
</b:includable>
