<div class="widget HTML" id="HTML2">
<div class="widget-content follow">
<h2>SEGUINOS</h2>
<ul>
<li><a class="follow-rss" href="/feeds/posts/default" target="_blank"></a></li>
<li><a class="follow-twitter" href="https://twitter.com/OnTheCornerbsas" target="_blank"></a></li>
<li><a class="follow-vimeo" href="http://vimeo.com/otv" target="_blank"></a></li>
<li><a class="follow-facebook" href="http://www.facebook.com/pages/OnTheCorner/129624337067191" target="_blank"></a></li>
<li class="last"><a class="follow-bloglovin" href="http://www.bloglovin.com/blog/195452/on-the-corner---buenos-aires-street-sty" target="_blank"></a></li>
</ul>
</div>
</div>
