<div id="foc">
  <div id="fic">
    <div class="top">
      <div class="left">
        <a href="" class="logo"></a>
        <div class="footer-links">
          <table>
	          <tr>
		          <td><a href="/p/terminos-y-condiciones.html">TERMINOS Y CONDICIONES</a></td>
		          <td><a href="/p/faqs.html">FAQS</a></td>
		          <td><a href="/search/label/prensa?&amp;max-results=7">PRENSA</a></td>
	          </tr>
	          <tr>
		          <td><a href="/p/politicas-de-privacidad.html">POLITICAS DE PRIVACIDAD</a></td>
		          <td><a href="mailto:hola@onthecorner.com.ar">CONTACTO</a></td>
		          <td><a href="/p/proyecto.html">QUÉ ES ON THE CORNER?</a></td>
	          </tr>
          </table>
        </div>
      </div>
      <div class="right">
        <h2>SEGUINOS</h2>
        <ul>
	        <li><a class="footer-icon-rss" href="/feeds/posts/default" target="_blank"></a></li>
	        <li><a class="footer-icon-twitter" href="https://twitter.com/OnTheCornerbsas" target="_blank"></a></li>
          <li><a class="footer-icon-vimeo" href="http://vimeo.com/otv" target="_blank"></a></li>
	        <li><a class="footer-icon-facebook" href="http://www.facebook.com/pages/OnTheCorner/129624337067191" target="_blank"></a></li>
	        <li class="last"><a class="footer-icon-bloglovin" href="http://www.bloglovin.com/blog/195452/on-the-corner---buenos-aires-street-sty" target="_blank"></a></li>
        </ul>
      </div>
    </div>
    <div class="bottom">
      <div class="left">
        <div class="copyright">
          <span>© ON THE CORNER, TODOS LOS DERECHOS RESERVADOS. OTC es realizado por </span>
          <a href="http://www.esoesmuyflora.blogspot.com/">Flora Grzetic</a>
          <span> y </span>
          <a href="http://www.javiobando.com/">Javi Obando</a>
        </div>
      </div>
      <div class="right">
        <a href="http://www.entrecasaestudio.com.ar/" target="_blank">diseño</a>
      </div>
    </div>
  </div>
</div>
