<div id="logo">
  <a href="/" class="logo"><span>on the corner</span></a>
</div>
<div id="menu">
  <ul>
    <li><a class="proyecto" href="/p/proyecto.html">PROYECTO</a></li>  
    <li><a class="prensa" href="/search/label/prensa?&amp;max-results=7">PRENSA</a></li>  
    <li><a class="especiales" href="/search/label/especiales%20otc?&amp;max-results=7">ESPECIALES</a></li>  
    <li><a class="archive" href="">ARCHIVO</a></li>  
    <li class="last"><a class="contact" href="mailto:hola@onthecorner.com.ar">CONTACTO</a></li>  
  </ul>
</div>
