<ul id="pager" style="display:none">
  <li class='home'><a href='/'>inicio</a></li>
  <li class='newer'>
    <a href='' title='entradas recientes'><strong>&lt;</strong>entradas recientes</a>
  </li>
	<li class="page-links"></li>
  <li class='older'>
    <a href='' title='entradas antiguas'>entradas antiguas<strong>&gt;</strong></a>
  </li>
  <li class='archive'><a href="">archivo</a></li>
</ul>
