<div class="widget PopularPosts" id="PopularPosts1">
	<h2>POPULAR POSTS</h2>
	<div class="widget-content popular-posts">
		<ul>
			<li>
			<div class="item-thumbnail-only">
				<div class="item-thumbnail">
					<a href="http://onthecornerba.blogspot.com/2011/06/blog-post_27.html" target="_blank">
					<img alt="" border="0" height="72" src="http://4.bp.blogspot.com/-3CfBr_92c2A/TgkK1sfvdgI/AAAAAAAAAWU/gZwCE5NBOvw/s72-c/otc_test_2.png" width="72">
					</a>
				</div>
				<div class="item-title">
					<a href="http://onthecornerba.blogspot.com/2011/06/blog-post_27.html">(no title)</a>
				</div>
			</div>
			<div style="clear: both;">
			</div>
			</li>
			<li>
			<div class="item-thumbnail-only">
				<div class="item-thumbnail">
					<a href="http://onthecornerba.blogspot.com/2011/07/maria-42-anos-disenadora.html" target="_blank">
					<img alt="" border="0" height="72" src="http://2.bp.blogspot.com/-d9YdplhqKbE/TijZLWSSg4I/AAAAAAAAAeU/ehDBH5_MBRY/s72-c/otc_mar%25C3%25ADa_zoom_1.png" width="72">
					</a>
				</div>
				<div class="item-title">
					<a href="http://onthecornerba.blogspot.com/2011/07/maria-42-anos-disenadora.html">(no title)</a>
				</div>
			</div>
			<div style="clear: both;">
			</div>
			</li>
			<li>
			<div class="item-thumbnail-only">
				<div class="item-thumbnail">
					<a href="http://onthecornerba.blogspot.com/2011/05/favio-21-anos-estudiante.html" target="_blank">
					<img alt="" border="0" height="72" src="http://4.bp.blogspot.com/-B_tAkSXS5is/Tii3_OgE0FI/AAAAAAAAAdg/PDVmPKEElOE/s72-c/otc_liniers.png" width="72">
					</a>
				</div>
				<div class="item-title">
					<a href="http://onthecornerba.blogspot.com/2011/05/favio-21-anos-estudiante.html">(no title)</a>
				</div>
			</div>
			<div style="clear: both;">
			</div>
			</li>
		</ul>
		<div class="clear">
		</div>
		<span class="widget-item-control">
		<span class="item-control blog-admin">
		<a class="quickedit" href="http://www.blogger.com/rearrange?blogID=6619102308743710028&amp;widgetType=PopularPosts&amp;widgetId=PopularPosts1&amp;action=editWidget&amp;sectionId=sidebar-right-1" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;PopularPosts1&quot;));" target="configPopularPosts1" title="Edit">
		<img alt="" height="18" src="http://img1.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
		</a>
		</span>
		</span>
		<div class="clear">
		</div>
	</div>
</div>
