<div class="widget HTML" id="HTML1">
<div class="widget-content search">
<form action="/search" method="get">
<button>search</button>
<input name="q" placeholder="BUSCAR" type="text">
</form>
</div>
</div>
