<!DOCTYPE html>
<html lang="en">
<head>
  <title>pantene test OTC</title>
</head>
<body style="margin-left:30px;width:160px">

  <embed src="swf/pantene.swf" quality="high" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" align="middle" height="400" width="160" style="
      margin-bottom: 65px;
  ">
	<script>
    	var ts = new Date().getTime();
    	var url = "http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&c=19&mc=imp&pli=7244112&PluID=0&ord="+ts+"&rtu=-1";
      var img = new Image(1,1);
      img.src = url;
      
	    var pantene = function(){};
      pantene.click = function() {
      	var ts = new Date().getTime();
      	var url = "http://bs.serving-sys.com/BurstingPipe/adServer.bs?cn=tf&c=20&mc=click&pli=7244112&PluID=0&ord="+ts;
        //window.open(url, '_blank');
        location.href= url;
      }
  </script>

</body>
</html>


