<!DOCTYPE html>
<html lang="en">
<head>
  <title>widget testpage OTC</title>
</head>
<body style="margin-left:30px;width:160px">
  <link href="http://fonts.googleapis.com/css?family=Yeseva+One|Josefin+Sans" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag 'widgets' %>  
  <%= javascript_include_tag 'widgets' %>
  <%= partial 'partials/most_commented.html' %>
</body>
</html>
